<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h2>Tecleando</h2>
    </div>
  </div>
  <div class="row align-items-center justify-content-center principal">
    <div [ngClass]="{'perdio': this.estadoJuego == 2, 'gano' : this.estadoJuego == 1}" class="col-10 col-sm-10 col-md-3 col-lg-5 divTecla">
      <span class="tecla">{{tecla}}</span>
    </div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-6 texto">
      <div class="row">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">
                Jugador
              </th>
              <td>
                {{jugador}}
              </td>
            </tr>
            <tr>
              <th scope="row">
                Tiempo Transcurrido
              </th>
              <td>
                {{tiempoTranscurrido}}
              </td>
            </tr>
            <tr>
              <th scope="row">
                Vidas
              </th>
              <td>
                {{vidasRestantes}}
              </td>
            </tr>
            <tr>
              <th scope="row">
                Puntaje
              </th>
              <td>
                {{ultimoPuntaje}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row botones">
        <div class="col-5">
            <button *ngIf="modoDeJuego == 2" class="btnJugar" (click)="Jugar()"><i class="fa fa-play"></i> JUGAR</button>
            <span *ngIf="modoDeJuego == 1">¡Próxima tecla en <b>{{tiempoRestante}}</b> segundos!</span>
        </div>
        <div class="col-7">
            <button *ngIf="modoDeJuego == 2" class="btnJugar"><i class="fa fa-trophy"></i> RESULTADOS</button>
            <span *ngIf="modoDeJuego == 1"> <b>JUGANDO </b>- ¡Presiona las teclas que aparecen en pantalla!</span>            
        </div>
      </div>
    </div>
  </div>
</div>