<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h2>Tecleando</h2>
    </div>
  </div>
  <div class="row align-items-center justify-content-center principal">
    <div [ngClass]="{'perdio': juego.estadoJuego == 2, 'gano' : juego.estadoJuego == 1}" class="col-10 col-sm-10 col-md-3 col-lg-5 divTecla">
      <span class="tecla">{{juego.tecla}}</span>
    </div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-6 texto">
      <app-tablero-juegos class="tecleando" ultimoPuntaje={{juego.ultimoPuntaje}} tiempoRestante={{juego.tiempoRestante}} 
      vidasRestantes={{juego.vidasRestantes}} minutosTranscurridos={{juego.minutosTranscurridos}} segundosTranscurridos={{juego.segundosTranscurridos}}
      jugador={{juego.jugador}}  modoDeJuego={{juego.modoDeJuego}} (jugarClicked)="juego.Jugar()" (resultadosClicked)="IrAResultados()"></app-tablero-juegos>
    </div>
  </div>
</div>
