<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h2>Tecleando</h2>
    </div>
  </div>
  <div class="row align-items-center justify-content-center principal">
    <div class="d-none d-lg-block col-lg-4">
      <span class="tecla"></span>
    </div>
    <div class="col-10 col-sm-10 col-md-7 col-lg-5 texto">
      <div class="row">
        <table>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>
                Participante
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                Tiempo
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                Vidas
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>
                Puntaje
              </td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <button class="btnJugar" routerLink="../Tecleando"><i class="fa fa-play"></i> JUGAR</button>
      </div>
    </div>
  </div>
</div>