<div class="container-fluid align-middle">
  <div class="row justify-content-center">
    <div class="d-none d-sm-block col-5 col-sm-5 col-md-4 col-lg-4">
      <img src="./assets/imagenes/MauricioCerizza.png" alt="" class="img-fluid">
    </div> 
  
    <div class="col-10 col-sm-7 col-lg-6 texto">
      <h1> ¿Quién soy? </h1>
      <p>Soy Mauricio Cerizza, vivo en Avellaneda y tengo 26 años. </p>        
      <p>Soy alumno de la Facultad Regional Avellaneda de la Universidad Tecnológica Nacional. </p>
      <p>Estoy sobre el final de la carrera haciendo esta página que es un trabajo práctico para Laboratorio de Computación IV.  </p>
      <p></p>
    </div>

    <div class="col-sm-10 col-md-1 col-lg-1">
      <div class="row links">
        <div class="col-3 col-sm-3 col-md-12 col-lg-12">
          <a href="http://github.com/mauricioCerizza" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="col-3 col-sm-3 col-md-12 col-lg-12">
            <a href="https://www.linkedin.com/in/mauricio-cerizza/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>  
        <div class="col-3 col-sm-3 col-md-12 col-lg-12">
            <a href="http://www.sistemas-utnfra.com.ar/" target="_blank"><i class="fa fa-university"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>