<div class="row">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">
          Jugador
        </th>
        <td>
          {{jugador}}
        </td>
      </tr>
      <tr>
        <th scope="row">
          Tiempo Transcurrido
        </th>
        <td>
          {{minutosTranscurridos}} : {{segundosTranscurridos}}
        </td>
      </tr>
      <tr>
        <th scope="row">
          Vidas
        </th>
        <td>
          {{vidasRestantes}}
        </td>
      </tr>
      <tr>
        <th scope="row">
          Puntaje
        </th>
        <td>
          {{ultimoPuntaje}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row botones">
  <div class="col-5">
      <button *ngIf="modoDeJuego == 2" class="btnJugar" (click)="JugarClicked()"><i class="fa fa-play"></i> JUGAR</button>
      <span *ngIf="modoDeJuego == 1">¡Próxima tecla en <b>{{tiempoRestante}}</b> segundos!</span>
  </div>
  <div class="col-7">
      <button *ngIf="modoDeJuego == 2" class="btnJugar" (click)="ResultadosClicked()"><i class="fa fa-trophy"></i> RESULTADOS</button>
      <span *ngIf="modoDeJuego == 1"> <b>JUGANDO </b>- ¡Presiona las teclas que aparecen en pantalla!</span>            
  </div>
</div>