<div class="container-fluid">
  <div class="row align-items-center justify-content-center principal">
    <div class="d-none d-md-block col-1 col-sm-1 col-md-1 col-lg-1">
      <button class="btnCambiar" [routerLink]=" ['../PPTCard'] "><i class="fa fa-angle-left"></i></button>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <img ng-if class="img-fluid" src="../../../assets/imagenes/AdivinaElNumero.png" alt="piedra, papel o tijeras.">
    </div>
    <div class="col-10 col-sm-10 col-md-7 col-lg-5 texto">
      <div class="row">
        <h2>Adivina el Numero</h2>
      </div>
      <div class="row">
        <p><b>Tu suerte está en juego.</b> Sigue las pistas y llega al resultado correcto. <b>¿ACEPTAS EL DESAFÍO?</b></p>
        <p>Deberás adivinar un número de dos dígitos elegido por nuestra inteligencia artificial.</p>
      </div>
      <div class="row">
        <button class="btnJugar"><i class="fa fa-play"></i> JUEGA YA!</button>
      </div>
    </div>
    <div class="d-none d-md-block col-1 col-sm-1 col-md-1 col-lg-1">
      <button class="btnCambiar" [routerLink]=" ['../AENCard'] "><i class="fa fa-angle-right"></i></button>
    </div>
  </div>
</div>