<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-condensed table-hover table-dark">
        <thead>
          <tr>
            <th>Jugador</th>
            <th>Último Juego</th>
            <th>Último Puntaje</th>
            <th>Última vez visto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jugador of jugadores">
            <td>{{jugador.nombre}} </td>
            <td>{{jugador.ultimoJuego}} </td>
            <td>{{jugador.ultimoPuntaje}} </td>
            <td>{{jugador.ultimaFecha.toLocaleDateString('es-AR')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>