<div class="container-fluid">
    <div class="row align-items-center justify-content-center principal">
        <div class="d-none d-lg-block col-lg-4">
            <img ng-if class="img-fluid" src="../../../assets/imagenes/AdivinaElNumero.png" alt="piedra, papel o tijeras.">
        </div>
        <div class="col-10 col-sm-10 col-md-9 col-lg-6 texto">
            <div class="row">
                <h2>GAME OVER</h2>
            </div>
            <div class="row">
                <p>¡Parece que te perdiste! </p>
            </div>
            <div class="row">
                <p>La página que estás buscando no existe. </p>
            </div>
            <div class="row">
                <p>Y no, no hay un nivel secreto... ¿O sí?...</p>
            </div>
            <div class="row">
                <button class="btnJugar" routerLink="/Juegos"><i class="fa fa-play"></i> Volver</button>
            </div>
        </div>
    </div>
</div>