<div class="container-fluid">
  <div class="row align-items-center justify-content-center principal">
    <div class="d-none d-lg-block col-lg-4">
      <img ng-if class="img-fluid" src="../../../assets/imagenes/piedra-papel-tijeras.png" alt="piedra, papel o tijeras.">
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-6 texto">
      <div class="row">
        <h2>Piedra, Papel o Tijeras</h2>
      </div>
      <div class="row">
        <p><b>Un juego milenario</b>, jugado originalmente por los señores de la guerra del periodo Han en China. <b>HOY EN TU NAVEGADOR.</b></p>
        <p>La piedra que vence a la tijera rompiéndola, la tijera que vence al papel cortándolo y el papel que vence a
          la piedra envolviéndola.</p>   
      </div>
      <div class="row">
        <button class="btnJugar"><i class="fa fa-play"></i> JUEGA YA!</button>
      </div>
    </div>    
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 ml-md-5">
      <button class="btnCambiar"><i class="fa fa-angle-right"></i></button>
    </div>
  </div>
</div>