<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h2>Adivina el Numero</h2>
    </div>
  </div>
  <div class="row align-items-center justify-content-center principal">
    <div [ngClass]="{'perdio': juego.estadoJuego == 2, 'gano' : juego.estadoJuego == 1}" class="col-10 col-sm-10 col-md-3 col-lg-5 divJuego">
      <img *ngIf="juego.modoDeJuego == 2" class="img-fluid" src="../../../assets/imagenes/AdivinaElNumero.png" alt="Imagen Juego">
      <label *ngIf="juego.modoDeJuego == 1" for="numeroIngresado">Ingrese un número entre 1 y 100: </label>
      <input *ngIf="juego.modoDeJuego == 1" [(ngModel)]="juego.numeroIngresado" id="numeroIngresado" name="numeroIngresado"
        type="number" class="form-control" />
      <button *ngIf="juego.modoDeJuego == 1" (click)="verificar()" class="btnVerificar">Verificar</button>
    </div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-6 texto">
      <app-tablero-juegos class="aen" ultimoPuntaje={{juego.ultimoPuntaje}} tiempoRestante={{juego.tiempoRestante}}
        vidasRestantes={{juego.vidasRestantes}} minutosTranscurridos={{juego.minutosTranscurridos}}
        segundosTranscurridos={{juego.segundosTranscurridos}} jugador={{juego.jugador}} modoDeJuego={{juego.modoDeJuego}}
        (jugarClicked)="juego.Jugar()" descripcionDerecha="<b>JUGANDO</b> - Ingresa números y verificalos hasta encontrar el correcto."
        descripcionIzquierda="juego.pista"></app-tablero-juegos>
    </div>
  </div>
</div>