/* You can add global styles to this file, and also import other style files */

html, body {
    margin:0;
    padding:0;
    height:100%;
 }

::-webkit-scrollbar {
    height: 0px;
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

@font-face {
    font-family: "GameTime";
    src: url(assets/fonts/Boardgamers.ttf) format("opentype");
}

@font-face {
    font-family: "GameOver";
    src: url(assets/fonts/Game_Over_Dude.ttf) format("opentype");
}