<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/Juegos"><b>Sala de Juegos</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" disabled role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-gamepad"></i> Juegos</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Juegos/AENCard">Tecleando</a>
          <a class="dropdown-item" routerLink="/Juegos/PPTCard">Piedra, Papel o Tijera</a>
          <a class="dropdown-item" routerLink="/Juegos/AENCard">Adivina el Número</a>
          <a class="dropdown-item" routerLink="/Juegos/AENCard">Agilidad Aritmética</a>
          <a class="dropdown-item" routerLink="/Juegos/AENCard">Anagrama</a>
          <a class="dropdown-item" routerLink="/Juegos/AENCard">TaTeTi</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/Resultados"><i class="fa fa-trophy"></i> Resultados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/Configuracion"><i class="fa fa-wrench"></i>
          Configuración</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/Jugadores"><i class="fa fa-users"></i> Jugadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/QuienSoy"><i class="fa fa-user-secret"></i> ¿Quién
          soy?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://github.com/mauricioCerizza" target="_blank"><i class="fa fa-github"></i>
          Github</a>
      </li>
    </ul>
  </div>
</nav>